# Rust
/target
Cargo.lock

# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.pytest_cache/
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# TensorBoard logs
runs/
logs/

# Bevy
*.wgsl.meta
